@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
    @apply m-0 p-0 box-border;
  }
   */
  body {
    /* overflow-x: hidden; */
    /* width: 100%;
    min-height: 100vh; */
    background-color: #0a192f;
    
  }
  
  #root {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .section {
  padding-top: 50px; 
  margin-top: -50px; 
}

  .btn-custom {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; 
  }
  

  .btn-custom:hover {
   
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    transform: translate(-5px, -5px);
  }
  
  .btn-custom:active {
   
    transform: translate(-10px, -10px); 
    box-shadow: none; 
  }

  .hover-effect p:hover {
    background-color: cyan;
    
  }

  /*page loading animation*/
 
  @keyframes line-grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-line-grow {
    animation: line-grow 2s linear forwards;
  }
  

  /* * {
    outline: 1px solid red;
  } */